* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    background-color: #404040;
    font-family: "Lucida Console", "Courier New", monospace;
    color: aliceblue;
    height: 100vh;
    text-align: center;
    padding-right: 5vh;
    padding-left: 5vh;
    font-size: 3vh;

    padding-top: 10vh;
    padding-bottom: 10vh;
}

.shortening {
    padding: 10vh;
}

.spacing {
    width: 20vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
}